*{
 font-family: 'Lato', sans-serif;;
}
.container{
    max-width: 1150px !important;
}
::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}
.back{
    height: 310px;
    background-image: url(/img/copm_img.jpeg);
    background-position: center;
    background-size: cover;
}
.wrapper_header{
    
    background-color: gray;
    opacity: 0.4;
    height: 310px;    
    position: relative;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding: 25px 50px;
}
.header__logo{
    position: fixed;
    margin-top: 20px;
    margin-left: 50px;
}
.header__logo a{
    font-size: 2em;
    font-weight: bold;
}
.header__logo-link{
    display: flex;
}
.link{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.link:hover{
    margin-bottom: 5px;
}
.home-page{
    margin-right: 15px;
}
.home-page_mini{
    display: none;
}
.title-center{
    display: flex;
    justify-content: center;
}
.title_page{
    position: absolute;
    margin-top: -200px;
}
.title_page h1{
    font-size: 80px;
    color: white;
    
}
.main_text{
    margin: 0 auto;
    margin-top: 20px;
    font-size: 10pt;
    line-height: 1.6667;
    color: #555;
    max-width: 1050px;
}

.marg{
    margin-bottom: 15px;
}
.service{
    display: flex;
    justify-content: space-between;
    border: dotted 2px #49AAC9;
    padding: 5px;
    vertical-align: sub;
   margin-bottom: 10px;
}
.service p{
    padding: 0;
    margin: 0;
}
.service-name_price{
    display: flex;
    align-items: center;
}
.price_block{
    font-weight: bold;
    font-size: 10pt;
    opacity: 0.8;
}
.price{
    margin: 0 auto;
    width: 70%;
}
.policy{
   margin-top: 70px;
}
.button_policy{
   
    background-color: #49AAC9 !important;
}
.button_policy:hover{
    color: white !important;
}

.contacts{
    margin-top: 50px;
    margin-bottom: 50px;
}
.top{
    margin-top: 20px;
}

.wrapper_footer{
    position: relative;
}
.mrg-lft{
    margin-left: 30px;
}
.number_center{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

  @media screen and (max-width: 800px){
    .header__logo{
        position: absolute;
        margin-top: 10px;
        margin-left: 20px;
    }

  }
  @media screen and (max-width: 510px){
    .header__logo{
        margin-top: 12px;
        margin-left: 20px;
    }
    .header__logo a{
        font-size: 1.5em;
    }
    .policy{
        margin-top: 50px;
        text-align: center;
    }
  }
  

  @media screen and (max-width: 490px) {
      .title_page{
          text-align: center;
      }
  }
  @media screen and (max-width: 450px){
      .home-page{
          display: none;
      }
      .home-page_mini{
          display: block;
          margin-right: 10px;
      }
      .header{
          padding: 20px;
      }
      .title_page h1{
        font-size: 60px;
        color: white;
        
    }
  }